*{
    margin: 0;
    padding: 0;
}
body{
    background:linear-gradient(135deg, #153677, #4e085f)
}
.container{
    background-color: white;
    max-width: 500px;
    margin: auto;
    margin-top: 90px;
    padding: 40px;
    border-radius: 30px;
    overflow: hidden;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.input1 input{
padding: 5px;
flex: 1;
border: none;
background: transparent;
outline: none;
}

.input1{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    border-radius: 30px;
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 25px;
}
.input1 button{
    padding: 16px 50px;
    border: none;
    outline: none;
    background: none;
    background-color: #778beb;
    border-radius: 30px;
    font-size: 20px;
    cursor: pointer;

}

ul li {
    list-style: none;
    font-size: 26px;
    padding: 10px;
    cursor: pointer;
    position: relative;
    padding-left: 35px;
}

ul li::before{
    content: '';
    width: 28px;
    height: 28px;
    border-radius: 50%;
    position: absolute;
    background-image: url(imeges/unchecked.png);
    top: 12px;
    left: 0px;
    background-size: cover;
    background-position: center;
}

.checked{
    text-decoration: line-through;
    color: #555;
}

ul li.checked::before{
    background-image: url(imeges/bluech.webp);
}

ul li span{
    position: absolute;
    right: 0px;
    top: 10px;
    font-size: 30px;
    background-color: rgba(253, 15, 15, 0.928);
    padding: 0px 20px 0px 20px;
    border-radius: 20px;
}

ul li button{
    position: absolute;
    right: 60px;
    top: 12px;
    font-size: 22px;
    background-color: #778beb;
    padding: 3px 15px 3px 15px;
    border-radius: 20px;
    border: none;
    outline: none;
    color: whitesmoke;
    cursor: pointer;
    
}